@import url('https://fonts.googleapis.com/css?family=Klee One|Nerko One');

* {
    margin: 0;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px;
    border: none;
}

body {
    font-family: Nerko One, sans-serif;
    font-weight: 500;
    color: green;
    
}

/* headings and logo */

h1 {
    font-family: Nerko One, sans-serif;
    text-transform: uppercase;
    color: green;
    letter-spacing: 2px;
    text-shadow: 4px 4px 4px greenyellow;
}

p {
    font-family: Klee One;
    font-size: large;
    font-weight: bolder;
    letter-spacing: 0px;
    text-align: center;
    color: greenyellow;
    text-shadow: none;
    margin-left: 30px;   
    margin-right: 30px;
    margin-top: 10px;
}


#logo {
    float: left;
    font-size: 400%;
    margin-left: 30px;
}

/*navigation links */

#menu {
    font-size: 200%;
    margin-right: 30px; 
    letter-spacing: 2px;
}

#menu, #logo {
    line-height: 100px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: green;
}

#menu a:hover {
    color: greenyellow;
}

.active {
    color: greenyellow;
}

/* homepage image and cover text */

#homepage-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#cover-text, #cover-text h2 {
    color: greenyellow;
}

#homepage-image {
    height: 600px;
    width: 100%;
    background: url('../images/pexels-lisa-fotios-13141331.jpg') no-repeat center center;
}

#cover-text {
    font-size: 200%;
    letter-spacing: 2px;

    width: 800px;
    height: 220px;

    padding-top: 40px;
    padding-bottom: 10px;

    bottom: 300px;
    right: 240px;

    position: absolute;

    text-shadow: 4px 4px 4px green;
}

/* cafe menu */

#cafe-menu {
    height: 600px;
}

#cafe-menu li {
    list-style: none;
}

#drinksmenu {
    text-align: center;
    margin: 50px 0;
    font-size: 280%;
}

#hot-menu {
    padding-top: 20px;
    width: 30%;
    float: left;
    border-radius: 20px;
    border: 4px solid green;
    padding-left: 10px;
    padding-right: 0px;
}

#cold-menu {
    padding-top: 20px;
    width: 30%;
    float: right;
    border-radius: 20px;
    border: 4px solid green;
}

#Cacti-menu {
    padding-top: 20px;
    padding-left: 10px;
    width: 30%;
    margin: 0 auto;
    border-radius: 20px;
    border: 4px solid green;
    padding-bottom: 30px;
}

.hot-menu-heading {
    width: 90%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 20px;
}

.cold-menu-heading {
    width: 90%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 70px;
}

.cacti-menu-heading {
    width: 90%;
    line-height: 20px;
    clear: both;
    margin: 0 auto;
    margin-left: 2px;
}

.hot-menu-heading h2 {
    text-align: center;
}

.cold-menu-heading h2 {
    text-align: center;
}

.cacti-menu-heading h2 {
    text-align: center;
    
}

/* Opening Times*/
#opening-times {
    height: 600px;
} 

.coffee-image {
    height: inherit;
    float: inline-end;
}

#opening-times h2 {
    font-size: 200%;
    margin-bottom: 15px;
}

#opening-times h3 {
    font-family: Klee One;
    color: green;
}

#opening-times h4 {
    font-family: Klee One;
    color: greenyellow;
}

/* footer */
footer {
    height: 100px;
    border-radius: 25px;
    border: 2px solid blue;
    padding: 20px;
    width: 1280px;
    height: 80px; 
    margin-left: 10px;
    margin-bottom: 10px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
    float: right;
}

.social-networks i {
    font-size: 180%;
    margin-top: 50%;
    padding: 5%;
    float: right;
    margin-right: 30px; 
    letter-spacing: 2px;
    color: blue;
}

footer h3 {
    font-family: Klee One, Oswald;
    color: blue;
    font-size: 150%;
    margin-left: 10px;
    margin-top: 30px;
}

